<nz-layout>
  <nz-page-header [nzGhost]="false">
    <nz-avatar nz-page-header-avatar nzIcon="read" nzTheme="fill"></nz-avatar>

    <nz-page-header-title>Add new lecture</nz-page-header-title>

    <nz-page-header-extra>
      <button nz-button nzType="primary" [disabled]="!form.valid" (click)="onSubmit()"><i nz-icon nzType="save" nzTheme="outline"></i> Save</button>
      <button nz-button (click)="doCancel()">Cancel</button>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content>
    <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Shorthand</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="shortHand" placeholder="Shorthand or abbreviation (e.g., tk1-ws2021)" required />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="title" placeholder="Title of the lecture" required />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Semester</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a semester" formControlName="semesterId" required>
            <nz-option *ngFor="let semester of semesters" [nzLabel]="semester.name" [nzValue]="semester.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Description</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <textarea rows="4" nz-input formControlName="description" placeholder="Longer description of the lecture"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Source path</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="sourcePath" placeholder="Source directory where to store the video files" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Converted path</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="convertedPath" placeholder="Converted directory where to store the rendered video files" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Publish path</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="publishPath" placeholder="Publishing directory on the server" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Render Full HD</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-switch formControlName="renderFullHd"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Published</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-switch formControlName="publish"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Active</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-switch formControlName="active"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-content>
</nz-layout>
