<nz-layout *ngIf="lecture">
  <nz-page-header [nzGhost]="false" nzBackIcon (nzBack)="doBack()">
    <nz-avatar nz-page-header-avatar nzIcon="read" nzTheme="fill"></nz-avatar>

    <nz-page-header-title>{{lecture.title}}</nz-page-header-title>

    <nz-page-header-extra>
      <button nz-button nzType="primary" [routerLink]="['/', 'lecture', lecture.id, 'upload']"><i nz-icon nzType="upload" nzTheme="outline"></i> Upload Recording</button>
      <button nz-button [routerLink]="['/', 'lecture', lecture.id, 'link']"> Add Recording Link</button>

      <nz-button-group>
        <button nz-button [routerLink]="['/', 'lecture', 'edit', lecture.id]">Edit</button>
        <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
          <i nz-icon nzType="ellipsis"></i>
        </button>
      </nz-button-group>

      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="doSynchronize()"><i nz-icon nzType="sync" nzTheme="outline"></i> Synchronize Website</li>
          <li nz-menu-item (click)="doDelete()"><span nz-typography nzType="danger"><i nz-icon nzType="delete" nzTheme="outline"></i> Delete Lecture</span></li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-extra>

    <nz-page-header-content>
      <nz-descriptions [nzColumn]="2" nzSize="small">
        <nz-descriptions-item nzTitle="Description" nzSpan="2">{{lecture.description}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Semester">{{lecture.semester.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Published">{{lecture.publish}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Active">{{lecture.active}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Render Full HD">{{lecture.renderFullHd}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Converted path">{{lecture.convertedPath}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Publish path">{{lecture.publishPath}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Last synchronized">{{lecture.lastSynchronized | date:'medium'}}</nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>

  <nz-content>
    <app-recording-list [lecture]="lecture" (processClick)="doProcess($event)" (publishClick)="doPublish($event)"></app-recording-list>
  </nz-content>
</nz-layout>
