<h2>Lectures</h2>

<p>
  <button nz-button nzType="primary" [routerLink]="['/', 'lectures', 'new']">Add Lecture</button>
</p>

<nz-table #lectureTable [nzData]="lectures">
  <thead>
    <tr>
      <th>Lecture</th>
      <th>Semester</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lecture of lectureTable.data">
      <td><a [routerLink]="['/', 'lecture', lecture.id]">{{lecture.title}}</a></td>
      <td><nz-tag [nzColor]="'gold'">{{lecture.semester.name}}</nz-tag></td>
      <td>
        <i *ngIf="lecture.publish" nz-icon nzType="check-circle" nzTheme="outline"></i>
        <i *ngIf="!lecture.publish" nz-icon nzType="close-circle" nzTheme="outline"></i>
      </td>
    </tr>
  </tbody>
</nz-table>
