<nz-layout *ngIf="recording">
  <nz-page-header [nzGhost]="false" nzBackIcon (nzBack)="doBack()">
    <nz-avatar nz-page-header-avatar nzIcon="video-camera" nzTheme="outline"></nz-avatar>

    <nz-page-header-title>{{recording.title}}</nz-page-header-title>

    <nz-page-header-extra>
      <!-- <button nz-button nzType="primary" [routerLink]="['/', 'lecture', lecture.id, 'upload']"><i nz-icon nzType="upload" nzTheme="outline"></i> Upload recording</button> -->
      <!-- <button nz-button (click)="doSynchronize()"><i nz-icon nzType="sync" nzTheme="outline"></i> Synchronize</button> -->
    </nz-page-header-extra>

    <nz-page-header-content>
      <nz-descriptions [nzColumn]="2" nzSize="small">
        <nz-descriptions-item nzTitle="Description" nzSpan="2">{{recording.description}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Duration">{{recording.duration | duration : false}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Upload Date">{{recording.uploadDate | date:'medium'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Publish Date">{{recording.publishDate | date:'medium'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Storage Path">{{recording.filePath}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Status">
            <nz-tag *ngIf="recording.status == -1" [nzColor]="'red'">Error</nz-tag>
            <nz-tag *ngIf="recording.status == 0" [nzColor]="'grey'">Uploaded</nz-tag>
            <nz-tag *ngIf="recording.status == 1" [nzColor]="'blue'">Processing...</nz-tag>
            <nz-tag *ngIf="recording.status == 2" [nzColor]="'orange'">Processed</nz-tag>
            <nz-tag *ngIf="recording.status == 3" [nzColor]="'blue'">Scheduled</nz-tag>
            <nz-tag *ngIf="recording.status == 4" [nzColor]="'green'">Published</nz-tag>
            <nz-tag *ngIf="recording.status == 5" [nzColor]="'blue'">Publishing</nz-tag>
        </nz-descriptions-item>
    </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>

  <nz-content>
    <nz-table #chapterTable [nzData]="chapters">
      <thead>
        <tr>
          <th nzWidth="60px">Chapter</th>
          <th>Text</th>
          <th nzWidth="150px">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chapter of chapterTable.data">
          <td>
              <img src="/api/recording/preview/chapter/{{chapter.id}}" height="45px" />
          </td>
          <td>{{chapter.text | slice: 0:100}}</td>
          <td>{{chapter.startPosition | duration : true}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>
