<nz-layout *ngIf="recording">
  <nz-page-header [nzGhost]="false" nzBackIcon (nzBack)="doBack()">
    <nz-avatar nz-page-header-avatar nzIcon="video-camera" nzTheme="outline"></nz-avatar>

    <nz-page-header-title>{{recording.title}}</nz-page-header-title>

    <nz-page-header-extra>
      <nz-button-group>
        <button nz-button nzType="primary" [routerLink]="['/', 'recording', recording.id, 'edit']">Edit</button>
        <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
          <i nz-icon nzType="ellipsis"></i>
        </button>
      </nz-button-group>

      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="doPreview()">Generate Preview</li>
          <li nz-menu-item (click)="doProcess()">Process Recording</li>
          <li nz-menu-item (click)="doPublish()">Publish Now</li>

          <li nz-menu-item (click)="doDelete()"><span nz-typography nzType="danger"><i nz-icon nzType="delete" nzTheme="outline"></i> Delete Recording</span></li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-extra>

    <nz-page-header-content>
      <nz-descriptions [nzColumn]="2" nzSize="small">
        <nz-descriptions-item nzTitle="Description" nzSpan="2">{{recording.description}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Duration">{{recording.duration | duration : false}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Upload Date">{{recording.uploadDate | date:'medium'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Publish Date">{{recording.publishDate | date:'medium'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Storage Path">{{recording.filePath}}</nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>

  <nz-content>
    <h3>Rendering Jobs</h3>
    <nz-table [nzTemplateMode]="true" [nzSize]="'small'">
      <thead>
        <tr>
          <th>Output Job</th>
          <th>Status</th>
          <th>Date started</th>
          <th>Date finished</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let output of recording.outputs">
          <td>
            <span *ngIf="output.jobType == 'LectureRecordingManager.Jobs.ProcessRecordingJob'">Video processing <nz-tag>{{output.jobConfiguration}}</nz-tag></span>
            <span *ngIf="output.jobType == 'LectureRecordingManager.Jobs.PreviewRecordingJob'">Generate previews and process metadata</span>
          </td>
          <td>
            <nz-tag *ngIf="output.status == -1" [nzColor]="'red'">Error</nz-tag>
            <nz-tag *ngIf="output.status == 0" [nzColor]="'grey'">Uploaded</nz-tag>
            <nz-tag *ngIf="output.status == 1" [nzColor]="'blue'">Processing...</nz-tag>
            <nz-tag *ngIf="output.status == 2" [nzColor]="'orange'">Processed</nz-tag>
            <nz-tag *ngIf="output.status == 3" [nzColor]="'blue'">Scheduled</nz-tag>
            <nz-tag *ngIf="output.status == 4" [nzColor]="'green'">Published</nz-tag>
            <nz-tag *ngIf="output.status == 5" [nzColor]="'blue'">Publishing</nz-tag>

            <span *ngIf="output.status == -1">{{output.jobError}}</span>
          </td>
          <td>{{output.dateStarted | date:'medium'}}</td>
          <td>{{output.dateFinished | date:'medium'}}</td>
        </tr>
      </tbody>
    </nz-table>

    <br />
    <h3>Chapters</h3>
    <nz-table #chapterTable [nzData]="chapters">
      <thead>
        <tr>
          <th nzWidth="60px">Chapter</th>
          <th>Text</th>
          <th nzWidth="150px">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chapter of chapterTable.data">
          <td>
              <img [src]="'/api/recording/preview/chapter/' + chapter.id | authImage | async" height="45px" />
          </td>
          <td>{{chapter.text | slice: 0:100}}</td>
          <td>{{chapter.startPosition | duration : true}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>
