nz-content {
    padding: 30px;
    min-height: 280px;
}

nz-layout {
    background-color: white;
}

.lecturePreview {
    height: 250px;
    text-align: left;
    padding: 10px;
    float: left;
}

.lecturePreview img, .lecturePreview video {
    height: 100%;
}