<nz-table #recordingTable [nzData]="recordings" [nzSize]="'small'" [nzShowPagination]="false">
  <thead>
    <tr>
      <th>Recording</th>
      <th nzWidth="150px">Duration</th>
      <th nzWidth="200px" nzAlign="center">Published</th>
      <th nzWidth="150px">Actions</th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    <tr *ngFor="let recording of recordings" cdkDrag>
      <td>
        <a [routerLink]="['/', 'recording', recording.id]">
          <div class="thumbnail">
            <img [src]="'/api/recording/preview/' + recording.id | authImage | async" />
            <img class="large-hover-preview" [src]="'/api/recording/preview/' + recording.id | authImage | async" />
          </div>
          {{recording.title}}
        </a>
      </td>
      <td>{{recording.duration | duration : false}}</td>
      <td nzAlign="center">
        <span>
          <i *ngIf="recording.published" nz-icon nzType="check-circle" nzTheme="outline"></i>
          <i *ngIf="!recording.published" nz-icon nzType="close-circle" nzTheme="outline"></i>
        </span>
        <span *ngIf="recording.publishDate && !recording.published"><br>{{recording.publishDate | date:'medium'}}</span>
      </td>
      <td>
        <button *ngIf="!recording.published" nz-button (click)="doPublish(recording)">Publish now</button>
        <button *ngIf="recording.published" nz-button (click)="doPublish(recording)">Re-Publish now</button>
      </td>
    </tr>
  </tbody>
</nz-table>