::ng-deep .cdk-drag-preview {
    display: table;
}

::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}

.thumbnail {
    display: inline-block;
}

.thumbnail img.small-thumbnail {
    height: 45px;
    width: 80px;
    margin-right: 10px;
}

.large-hover-preview {
    display: none;
}

.thumbnail:hover .large-hover-preview {
    display: inline-block;
    height: 300px;
    position: absolute;
    z-index: 1000;
    left: 100px;
}