<nz-layout>
  <nz-page-header [nzGhost]="false">
    <nz-avatar nz-page-header-avatar nzIcon="calendar"></nz-avatar>

    <nz-page-header-title>Semesters</nz-page-header-title>
    <nz-page-header-extra>
      <button nz-button (click)="doSynchronize()">Synchronize Semester</button>
      <button nz-button [nzType]="'primary'" (click)="showCreate()">Create Semester</button>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content>
    <nz-table #semesterTable [nzData]="semesters">
      <thead>
        <tr>
          <th nzWidth="10px"></th>
          <th nzWidth="250px">Timespan</th>
          <th>Semester</th>
          <th nzWidth="30px">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let semester of semesterTable.data">
          <td>
            <span>
              <i *ngIf="semester.active" nz-icon nzType="check-circle" nzTheme="outline"></i>
              <i *ngIf="!semester.active" nz-icon nzType="close-circle" nzTheme="outline"></i>
            </span>
          </td>
          <td>{{semester.dateStart | date}} to {{semester.dateEnd | date}}</td>
          <td>
            <a [routerLink]="['/', 'lectures', 'semester', semester.id]">{{semester.name}}</a>
          </td>
          <td>
            <button nz-button (click)="showEdit(semester)">Edit</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>

<nz-modal [(nzVisible)]="isCreateModalVisible" nzTitle="Create new semester" (nzOnCancel)="closeCreate()" (nzOnOk)="doCreate()">
  <form nz-form *nzModalContent>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="title" placeholder="Title of the semester" required [(ngModel)]="createSemester.name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Start Date</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker 
          name="dateStart"
          [(ngModel)]="createSemester.dateStart"
          nzFormat="yyyy-MM-dd HH:mm:ss"
          [nzShowTime]="{ }"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">End Date</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker 
          name="dateEnd"
          [(ngModel)]="createSemester.dateEnd"
          nzFormat="yyyy-MM-dd HH:mm:ss"
          [nzShowTime]="{ }"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Published</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-switch name="published" [(ngModel)]="createSemester.published"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Active</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-switch name="active" [(ngModel)]="createSemester.active"></nz-switch>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="isEditModalVisible" nzTitle="Update semester" (nzOnCancel)="closeEdit()" (nzOnOk)="doEdit()">
  <form nz-form *nzModalContent>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="title" placeholder="Title of the semester" required [(ngModel)]="editSemester.name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Start Date</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker 
          name="dateStart"
          [(ngModel)]="editSemester.dateStart"
          nzFormat="yyyy-MM-dd HH:mm:ss"
          [nzShowTime]="{ }"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">End Date</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker 
          name="dateEnd"
          [(ngModel)]="editSemester.dateEnd"
          nzFormat="yyyy-MM-dd HH:mm:ss"
          [nzShowTime]="{ }"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Published</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-switch name="published" [(ngModel)]="editSemester.published"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Active</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-switch name="active" [(ngModel)]="editSemester.active"></nz-switch>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>